.dropMenu	{
	background-color:white;
	border-radius: 0 0 4px 4px;
	padding: 10px;
}

.btn-dark{
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.tabla_drop{
	color: black;
	width: 100%;
	text-align: left;
}

.tabla_admin{
	color: black;
	width: 100%;
	text-align: left;
}

.form-control{
	display: inline-block;
	width: 50%;
	margin-right: 6px;
}


tr{
	border-bottom: 1px solid rgb(80,80,80);
	color: black;
}

td{
	padding: 6px 0;
}

input[type=text], input[type=number], input[type=password]{
	width: 60%;
}


@media (max-width: 890px){
	.tabla_admin, .btn-secondary, .btn-danger, .btn-success, .form-control{
		font-size: 1.5vw;
		padding: 1px;
	}
}

@media (max-width: 300px){
	input[type=text], input[type=search]{
		width: 100%;
	}
}

