.dropMenu	{
	background-color:rgb(220,230,220);
	border-radius: 0 0 4px 4px;
	padding: 10px;
}

.btn-dark{
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.tabla_drop{
	color: black;
	width: 100%;
	text-align: left;
}

.tabla_admin{
	color: black;
	width: 100%;
	text-align: left;
}

.form-control{
	display: inline-block;
	width: 50%;
	margin-right: 6px;
}

.modBtn{
	float: left;
	margin-right: 2px;
}

tr, h4{
	border-bottom: 1px solid rgb(80,80,80);
	color: black;
}

td{
	padding: 6px 0;
}

.imageForm{
	width: 5vw;
}

input[type=text], input[type=number], input[type=password], textarea, .btn-primary{
	width: 60%;
}

input[type=number]{
	padding: 1px;
	font-size: 1.2vw;	
}


@media (max-width: 990px){
	.tabla_admin, .btn-secondary, .btn-danger, .btn-success, .btn-primary, .btn-info{
		font-size: 1.5vw;
		padding: 1px;
	}
}

@media (max-width: 300px){
	input[type=text], input[type=search],input[type=number], textarea{
		width: 100%;
	}
}



